openapi: 3.1.0
info:
  title: Cornerstone Building Brands Content API (WordPress REST wp/v2)
  version: wp/v2
  summary: 'Anonymously readable content surface of www.cornerstonebuildingbrands.com: news releases, industry pages, leadership
    profiles, pages, posts, media, taxonomies and site search.'
  description: 'Cornerstone Building Brands publishes www.cornerstonebuildingbrands.com on WordPress (WP Engine), which exposes
    the WordPress REST API at https://www.cornerstonebuildingbrands.com/wp-json/. This document was DERIVED by the API Evangelist
    enrichment pipeline from the provider''s own self-describing route index (GET /wp-json/, HTTP 200, 369 routes, fetched
    2026-09-19): every path, method, parameter name, type, enum, default and description below is copied from that index,
    and every collection was confirmed to answer an anonymous GET with HTTP 200 on 2026-09-19. It covers ONLY the anonymously
    readable read surface; routes that answered 401 without credentials (settings, menus, menu-items, block-types, users/me,
    the mcp namespace and wp-abilities/v1) are deliberately excluded. Cornerstone Building Brands publishes no OpenAPI of
    its own and no developer program; this is the WordPress platform contract wearing the company''s domain, not a product
    API. Custom post types news, industry and leadership and the news_category / news_solution taxonomies are the company-specific
    parts of the surface.'
  contact:
    name: Cornerstone Building Brands, Inc.
    url: https://www.cornerstonebuildingbrands.com/contact-us
  termsOfService: https://www.cornerstonebuildingbrands.com/legal
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://www.cornerstonebuildingbrands.com/wp-json/
  x-derived-on: '2026-09-19'
  x-provider-published: false
  x-generated-from: wordpress-rest-route-index
servers:
- url: https://www.cornerstonebuildingbrands.com/wp-json
  description: Production (WordPress REST API root; anonymous read access)
tags:
- name: Posts
  description: Blog posts published on the corporate site (the wp/v2 posts collection).
- name: Pages
  description: Corporate, customer-solutions, legal and privacy pages of cornerstonebuildingbrands.com.
- name: Media
  description: Media library items (product and campaign imagery, uploaded PDFs such as the annual Corporate Governance &
    Responsibility report).
- name: News
  description: Press releases and news updates (custom post type `news`), classified by news_category and news_solution.
- name: Industry
  description: Industry / market-segment pages (custom post type `industry`, e.g. Storage, Agriculture).
- name: Leadership
  description: Leadership-team profiles (custom post type `leadership`).
- name: Categories
  description: Post categories.
- name: Tags
  description: Post tags.
- name: News Categories
  description: News categories taxonomy (`news_category`).
- name: News Solutions
  description: News solution taxonomy (`news_solution`), mapping news items to product solutions.
- name: Search
  description: Site-wide search across public content.
- name: Taxonomies
  description: Registered taxonomies.
- name: Types
  description: Registered post types.
- name: Statuses
  description: Registered post statuses.
paths:
  /wp/v2/posts:
    get:
      operationId: listPosts
      summary: List posts
      description: Blog posts published on the corporate site (the wp/v2 posts collection). Anonymous GET; the response carries
        X-WP-Total and X-WP-TotalPages headers and an RFC 8288 Link header for pagination.
      tags:
      - Posts
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: after
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: author
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to posts assigned to specific authors.
      - name: author_exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes posts assigned to specific authors.
      - name: before
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by post attribute.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
        description: Limit result set to posts assigned one or more statuses.
      - name: tax_relation
        in: query
        required: false
        schema:
          type: string
          enum:
          - AND
          - OR
        description: Limit result set based on relationship between multiple taxonomies.
      - name: categories
        in: query
        required: false
        schema:
          type: object
          additionalProperties: true
        description: Limit result set to items with specific terms assigned in the categories taxonomy.
      - name: categories_exclude
        in: query
        required: false
        schema:
          type: object
          additionalProperties: true
        description: Limit result set to items except those with specific terms assigned in the categories taxonomy.
      - name: tags
        in: query
        required: false
        schema:
          type: object
          additionalProperties: true
        description: Limit result set to items with specific terms assigned in the tags taxonomy.
      - name: tags_exclude
        in: query
        required: false
        schema:
          type: object
          additionalProperties: true
        description: Limit result set to items except those with specific terms assigned in the tags taxonomy.
      - name: sticky
        in: query
        required: false
        schema:
          type: boolean
        description: Limit result set to items that are sticky.
      - name: ignore_sticky
        in: query
        required: false
        schema:
          type: boolean
          default: true
        description: Whether to ignore sticky posts or not.
      - name: format
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - standard
            - aside
            - chat
            - gallery
            - link
            - image
            - quote
            - status
            - video
            - audio
        description: Limit result set to items assigned one or more given formats.
      responses:
        '200':
          description: OK
          headers:
            X-WP-Total:
              schema:
                type: integer
              description: Total items matching the query.
            X-WP-TotalPages:
              schema:
                type: integer
              description: Total pages at the requested per_page.
            Link:
              schema:
                type: string
              description: RFC 8288 next/prev links.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '400':
          $ref: '#/components/responses/rest_invalid_param'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/posts/{id}:
    get:
      operationId: getPost
      summary: Retrieve a post
      description: Retrieve a single post by id. Anonymous GET.
      tags:
      - Posts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the post.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: excerpt_length
        in: query
        required: false
        schema:
          type: integer
        description: Override the default excerpt length.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/rest_not_found'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/pages:
    get:
      operationId: listPages
      summary: List pages
      description: Corporate, customer-solutions, legal and privacy pages of cornerstonebuildingbrands.com. Anonymous GET;
        the response carries X-WP-Total and X-WP-TotalPages headers and an RFC 8288 Link header for pagination.
      tags:
      - Pages
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: after
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: author
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to posts assigned to specific authors.
      - name: author_exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes posts assigned to specific authors.
      - name: before
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: menu_order
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to posts with a specific menu_order value.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
          default: date
        description: Sort collection by post attribute.
      - name: parent
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to items with particular parent IDs.
      - name: parent_exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to all items except those of a particular parent ID.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
        description: Limit result set to posts assigned one or more statuses.
      responses:
        '200':
          description: OK
          headers:
            X-WP-Total:
              schema:
                type: integer
              description: Total items matching the query.
            X-WP-TotalPages:
              schema:
                type: integer
              description: Total pages at the requested per_page.
            Link:
              schema:
                type: string
              description: RFC 8288 next/prev links.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '400':
          $ref: '#/components/responses/rest_invalid_param'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/pages/{id}:
    get:
      operationId: getPage
      summary: Retrieve a page
      description: Retrieve a single page by id. Anonymous GET.
      tags:
      - Pages
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the post.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: excerpt_length
        in: query
        required: false
        schema:
          type: integer
        description: Override the default excerpt length.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/rest_not_found'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/media:
    get:
      operationId: listMedia
      summary: List media
      description: Media library items (product and campaign imagery, uploaded PDFs such as the annual Corporate Governance
        & Responsibility report). Anonymous GET; the response carries X-WP-Total and X-WP-TotalPages headers and an RFC 8288
        Link header for pagination.
      tags:
      - Media
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: after
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: author
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to posts assigned to specific authors.
      - name: author_exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes posts assigned to specific authors.
      - name: before
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by post attribute.
      - name: parent
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to items with particular parent IDs.
      - name: parent_exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to all items except those of a particular parent ID.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: inherit
          items:
            type: string
            enum:
            - inherit
            - private
            - trash
        description: Limit result set to posts assigned one or more statuses.
      - name: media_type
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - image
            - video
            - text
            - application
            - audio
        description: Limit result set to attachments of a particular media type or media types.
      - name: mime_type
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to attachments of a particular MIME type or MIME types.
      responses:
        '200':
          description: OK
          headers:
            X-WP-Total:
              schema:
                type: integer
              description: Total items matching the query.
            X-WP-TotalPages:
              schema:
                type: integer
              description: Total pages at the requested per_page.
            Link:
              schema:
                type: string
              description: RFC 8288 next/prev links.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '400':
          $ref: '#/components/responses/rest_invalid_param'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/media/{id}:
    get:
      operationId: getMedia
      summary: Retrieve a media item
      description: Retrieve a single media item by id. Anonymous GET.
      tags:
      - Media
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the post.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/rest_not_found'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/news:
    get:
      operationId: listNews
      summary: List news
      description: Press releases and news updates (custom post type `news`), classified by news_category and news_solution.
        Anonymous GET; the response carries X-WP-Total and X-WP-TotalPages headers and an RFC 8288 Link header for pagination.
      tags:
      - News
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: after
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: before
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by post attribute.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
        description: Limit result set to posts assigned one or more statuses.
      - name: tax_relation
        in: query
        required: false
        schema:
          type: string
          enum:
          - AND
          - OR
        description: Limit result set based on relationship between multiple taxonomies.
      - name: news_category
        in: query
        required: false
        schema:
          type: object
          additionalProperties: true
        description: Limit result set to items with specific terms assigned in the news_category taxonomy.
      - name: news_category_exclude
        in: query
        required: false
        schema:
          type: object
          additionalProperties: true
        description: Limit result set to items except those with specific terms assigned in the news_category taxonomy.
      - name: news_solution
        in: query
        required: false
        schema:
          type: object
          additionalProperties: true
        description: Limit result set to items with specific terms assigned in the news_solution taxonomy.
      - name: news_solution_exclude
        in: query
        required: false
        schema:
          type: object
          additionalProperties: true
        description: Limit result set to items except those with specific terms assigned in the news_solution taxonomy.
      responses:
        '200':
          description: OK
          headers:
            X-WP-Total:
              schema:
                type: integer
              description: Total items matching the query.
            X-WP-TotalPages:
              schema:
                type: integer
              description: Total pages at the requested per_page.
            Link:
              schema:
                type: string
              description: RFC 8288 next/prev links.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '400':
          $ref: '#/components/responses/rest_invalid_param'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/news/{id}:
    get:
      operationId: getNews
      summary: Retrieve a news item
      description: Retrieve a single news item by id. Anonymous GET.
      tags:
      - News
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the post.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/rest_not_found'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/industry:
    get:
      operationId: listIndustry
      summary: List industry
      description: Industry / market-segment pages (custom post type `industry`, e.g. Storage, Agriculture). Anonymous GET;
        the response carries X-WP-Total and X-WP-TotalPages headers and an RFC 8288 Link header for pagination.
      tags:
      - Industry
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: after
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: before
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by post attribute.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
        description: Limit result set to posts assigned one or more statuses.
      responses:
        '200':
          description: OK
          headers:
            X-WP-Total:
              schema:
                type: integer
              description: Total items matching the query.
            X-WP-TotalPages:
              schema:
                type: integer
              description: Total pages at the requested per_page.
            Link:
              schema:
                type: string
              description: RFC 8288 next/prev links.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '400':
          $ref: '#/components/responses/rest_invalid_param'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/industry/{id}:
    get:
      operationId: getIndustry
      summary: Retrieve a industry page
      description: Retrieve a single industry page by id. Anonymous GET.
      tags:
      - Industry
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the post.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/rest_not_found'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/leadership:
    get:
      operationId: listLeadership
      summary: List leadership
      description: Leadership-team profiles (custom post type `leadership`). Anonymous GET; the response carries X-WP-Total
        and X-WP-TotalPages headers and an RFC 8288 Link header for pagination.
      tags:
      - Leadership
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: after
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: before
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by post attribute.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
        description: Limit result set to posts assigned one or more statuses.
      responses:
        '200':
          description: OK
          headers:
            X-WP-Total:
              schema:
                type: integer
              description: Total items matching the query.
            X-WP-TotalPages:
              schema:
                type: integer
              description: Total pages at the requested per_page.
            Link:
              schema:
                type: string
              description: RFC 8288 next/prev links.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '400':
          $ref: '#/components/responses/rest_invalid_param'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/leadership/{id}:
    get:
      operationId: getLeadership
      summary: Retrieve a leadership profile
      description: Retrieve a single leadership profile by id. Anonymous GET.
      tags:
      - Leadership
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the post.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/rest_not_found'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/categories:
    get:
      operationId: listCategories
      summary: List categories
      description: Post categories. Anonymous GET; the response carries X-WP-Total and X-WP-TotalPages headers and an RFC
        8288 Link header for pagination.
      tags:
      - Categories
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: Sort collection by term attribute.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific parent.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific post.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
      responses:
        '200':
          description: OK
          headers:
            X-WP-Total:
              schema:
                type: integer
              description: Total items matching the query.
            X-WP-TotalPages:
              schema:
                type: integer
              description: Total pages at the requested per_page.
            Link:
              schema:
                type: string
              description: RFC 8288 next/prev links.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '400':
          $ref: '#/components/responses/rest_invalid_param'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/categories/{id}:
    get:
      operationId: getCategory
      summary: Retrieve a category
      description: Retrieve a single category by id. Anonymous GET.
      tags:
      - Categories
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the term.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/rest_not_found'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/tags:
    get:
      operationId: listTags
      summary: List tags
      description: Post tags. Anonymous GET; the response carries X-WP-Total and X-WP-TotalPages headers and an RFC 8288 Link
        header for pagination.
      tags:
      - Tags
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: Sort collection by term attribute.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific post.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
      responses:
        '200':
          description: OK
          headers:
            X-WP-Total:
              schema:
                type: integer
              description: Total items matching the query.
            X-WP-TotalPages:
              schema:
                type: integer
              description: Total pages at the requested per_page.
            Link:
              schema:
                type: string
              description: RFC 8288 next/prev links.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '400':
          $ref: '#/components/responses/rest_invalid_param'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/tags/{id}:
    get:
      operationId: getTag
      summary: Retrieve a tag
      description: Retrieve a single tag by id. Anonymous GET.
      tags:
      - Tags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the term.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/rest_not_found'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/news_category:
    get:
      operationId: listNewsCategory
      summary: List news categories
      description: News categories taxonomy (`news_category`). Anonymous GET; the response carries X-WP-Total and X-WP-TotalPages
        headers and an RFC 8288 Link header for pagination.
      tags:
      - News Categories
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: Sort collection by term attribute.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific parent.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific post.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
      responses:
        '200':
          description: OK
          headers:
            X-WP-Total:
              schema:
                type: integer
              description: Total items matching the query.
            X-WP-TotalPages:
              schema:
                type: integer
              description: Total pages at the requested per_page.
            Link:
              schema:
                type: string
              description: RFC 8288 next/prev links.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '400':
          $ref: '#/components/responses/rest_invalid_param'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/news_category/{id}:
    get:
      operationId: getNewsCategory
      summary: Retrieve a news category
      description: Retrieve a single news category by id. Anonymous GET.
      tags:
      - News Categories
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the term.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/rest_not_found'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/news_solution:
    get:
      operationId: listNewsSolution
      summary: List news solutions
      description: News solution taxonomy (`news_solution`), mapping news items to product solutions. Anonymous GET; the response
        carries X-WP-Total and X-WP-TotalPages headers and an RFC 8288 Link header for pagination.
      tags:
      - News Solutions
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: Sort collection by term attribute.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific parent.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific post.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
      responses:
        '200':
          description: OK
          headers:
            X-WP-Total:
              schema:
                type: integer
              description: Total items matching the query.
            X-WP-TotalPages:
              schema:
                type: integer
              description: Total pages at the requested per_page.
            Link:
              schema:
                type: string
              description: RFC 8288 next/prev links.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '400':
          $ref: '#/components/responses/rest_invalid_param'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/news_solution/{id}:
    get:
      operationId: getNewsSolution
      summary: Retrieve a news solution
      description: Retrieve a single news solution by id. Anonymous GET.
      tags:
      - News Solutions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the term.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/rest_not_found'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/search:
    get:
      operationId: searchContent
      summary: Search public content
      description: Site-wide search across public content. Anonymous GET; the response carries X-WP-Total and X-WP-TotalPages
        headers and an RFC 8288 Link header for pagination.
      tags:
      - Search
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
        description: Limit results to items of an object type.
      - name: subtype
        in: query
        required: false
        schema:
          type: array
          default: any
          items:
            type: string
            enum:
            - post
            - page
            - news
            - industry
            - leadership
            - category
            - post_tag
            - news_category
            - news_solution
            - any
        description: Limit results to items of one or more object subtypes.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to specific IDs.
      responses:
        '200':
          description: OK
          headers:
            X-WP-Total:
              schema:
                type: integer
              description: Total items matching the query.
            X-WP-TotalPages:
              schema:
                type: integer
              description: Total pages at the requested per_page.
            Link:
              schema:
                type: string
              description: RFC 8288 next/prev links.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '400':
          $ref: '#/components/responses/rest_invalid_param'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/taxonomies:
    get:
      operationId: listTaxonomies
      summary: List taxonomies
      description: Registered taxonomies. Anonymous GET; the response carries X-WP-Total and X-WP-TotalPages headers and an
        RFC 8288 Link header for pagination.
      tags:
      - Taxonomies
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: type
        in: query
        required: false
        schema:
          type: string
        description: Limit results to taxonomies associated with a specific post type.
      responses:
        '200':
          description: OK
          headers:
            X-WP-Total:
              schema:
                type: integer
              description: Total items matching the query.
            X-WP-TotalPages:
              schema:
                type: integer
              description: Total pages at the requested per_page.
            Link:
              schema:
                type: string
              description: RFC 8288 next/prev links.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '400':
          $ref: '#/components/responses/rest_invalid_param'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/taxonomies/{taxonomy}:
    get:
      operationId: getTaxonomy
      summary: Retrieve a taxonomy
      description: Retrieve a single taxonomy by taxonomy. Anonymous GET.
      tags:
      - Taxonomies
      parameters:
      - name: taxonomy
        in: path
        required: true
        schema:
          type: string
        description: An alphanumeric identifier for the taxonomy.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/rest_not_found'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/types:
    get:
      operationId: listTypes
      summary: List types
      description: Registered post types. Anonymous GET; the response carries X-WP-Total and X-WP-TotalPages headers and an
        RFC 8288 Link header for pagination.
      tags:
      - Types
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: OK
          headers:
            X-WP-Total:
              schema:
                type: integer
              description: Total items matching the query.
            X-WP-TotalPages:
              schema:
                type: integer
              description: Total pages at the requested per_page.
            Link:
              schema:
                type: string
              description: RFC 8288 next/prev links.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '400':
          $ref: '#/components/responses/rest_invalid_param'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/types/{type}:
    get:
      operationId: getType
      summary: Retrieve a post type
      description: Retrieve a single post type by type. Anonymous GET.
      tags:
      - Types
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
        description: An alphanumeric identifier for the post type.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/rest_not_found'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/statuses:
    get:
      operationId: listStatuses
      summary: List statuses
      description: Registered post statuses. Anonymous GET; the response carries X-WP-Total and X-WP-TotalPages headers and
        an RFC 8288 Link header for pagination.
      tags:
      - Statuses
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: OK
          headers:
            X-WP-Total:
              schema:
                type: integer
              description: Total items matching the query.
            X-WP-TotalPages:
              schema:
                type: integer
              description: Total pages at the requested per_page.
            Link:
              schema:
                type: string
              description: RFC 8288 next/prev links.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '400':
          $ref: '#/components/responses/rest_invalid_param'
        '401':
          $ref: '#/components/responses/rest_forbidden'
  /wp/v2/statuses/{status}:
    get:
      operationId: getStatus
      summary: Retrieve a status
      description: Retrieve a single status by status. Anonymous GET.
      tags:
      - Statuses
      parameters:
      - name: status
        in: path
        required: true
        schema:
          type: string
        description: An alphanumeric identifier for the status.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/rest_not_found'
        '401':
          $ref: '#/components/responses/rest_forbidden'
components:
  responses:
    rest_invalid_param:
      description: Invalid parameter (WordPress REST error envelope).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WPError'
    rest_forbidden:
      description: Not allowed without credentials (WordPress REST error envelope, code rest_forbidden).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WPError'
    rest_not_found:
      description: No item with that id (code rest_post_invalid_id / rest_term_invalid).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WPError'
  schemas:
    WPError:
      type: object
      description: Standard WordPress REST API error envelope.
      properties:
        code:
          type: string
          examples:
          - rest_forbidden
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
          additionalProperties: true
      required:
      - code
      - message
